.box_1 {
    margin: 20px;
    display: inline-block;
    background-color: rgb(89, 245, 245);
    border: 1px solid red;

}

.box_2 {
    margin: 20px 10px 5px 220.5px;
    display: inline-block;
    background-color: rgb(196, 221, 126);
    border: 1px solid blue;

}
