div, h1 {
    margin: 15px;
    text-align: center;
    border: 3px solid orange;

}

img {
    border: 2px solid salmon;
    padding: 5px;
    background-color: aquamarine;

}

p {
    margin-bottom: 25px;

}
